*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    font-size: 16pt;
}

.main-container{
    margin-left: 25vw;
    margin-top: 25vh;
}

button{
    background-color: turquoise;
    margin-left: 20px;
    border: 5px outset turquoise;
    font-size: 16px;
    padding: 5px 10px
   
    

}

select{
    margin-left: 20px;
    font-size: 16pt;
    width: 200px;

}

input{
    margin-left: 28px;
    font-size: 16pt;
    width: 200px;

}

#coins {
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
}

.coin {
    border: 2px dotted white;
    border-radius: 100px;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
}

.penny {
    width: 50px;
    height: 50px;
    background-color: brown;
    line-height: 45px;
    color: white;
}

.nickel {
    width: 55px;
    height: 55px;
    background-color: silver;
    line-height: 50px;
}

.dime {
    width: 45px;
    height: 45px;
    background-color: silver;
    line-height: 40px;
}

.quarter {
    width: 75px;
    height: 75px;
    background-color: silver;
    line-height: 70px;
}








